<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All Guest List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor="#e6e6fa">

<div class="container">

    <div class="row">
        <div id="title">
            <h1>Guests List</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th>Guest Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Gold Member</th>
                <th>Check in date</th>
                <th>Check out date</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="guest : ${listOfGuests}">
                <td th:text="${guest.guestId}"></td>
                <td th:text="${guest.name}"></td>
                <td th:text="${guest.surname}"></td>
                <td th:text="${guest.goldMember}"></td>
                <td th:text="${guest.checkInDate}"></td>
                <td th:text="${guest.checkOutDate}"></td>

                <td>
                    <form method="post" th:action="@{/deleteGuest}">
                        <input type="hidden" th:name="guest_id" th:value="${guest.guestId}">
                        <input type="submit" value="Delete">

                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/edit_guest}">
                        <input type="hidden" th:name="guest_id" th:value="${guest.guestId}">
                        <input type="submit" value="Edit">
                    </form>

                </td>
            </tr>
            </tbody>
        </table>

        <form action="#" th:action="@{/goBack}">

            <button>add another guest</button>

        </form>
    </div>
</div>
</body>
</html>