<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>List of Rooms</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body bgcolor=#a9a9a9>

<div class="container">

    <div class="row">
        <div id="title">
            <h1>List of Rooms</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th>Room Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Has window?</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="room : ${listOfRooms}">
                <td th:text="${room.roomId}"></td>
                <td th:text="${room.roomNumber}"></td>N
                <td th:text="${room.RoomName}"></td>
                <td th:text="${room.capacity}"></td>
                <td th:text="${room.hasWindow}"></td>


                <td>
                    <form method="post" th:action="@{/deleteRoom}">
                        <input type="hidden" th:name="room_id" th:value="${room.roomId}">
                        <input type="submit" value="Delete">

                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/edit_room}">
                        <input type="hidden" th:name="room_id" th:value="${room.roomId}">
                        <input type="submit" value="Edit">
                    </form>

                </td>
            </tr>
            </tbody>
        </table>

        <form action="#" th:action="@{/goBackRoom}">

            <button>add another room</button>

        </form>
    </div>
</div>
</body>
</html>